* {
    text-align: center;
    background-color: #00ff00;
}

button {
    font-size: 25px;
    color: red;
    background-color: azure;
}

h1,
h2 {
    color: rgb(6, 26, 255);

}

#signup {
    color: black;
    background-color: aqua;

}

span {
    color: gray;
}

.tag {
    background-color: orange;
}

/* span a */
.post a {
    color: red;
}

footer a {
    color: rgb(9, 183, 241);
}