* {
    /* text-align: center; */
    /* background-color: #f1faee; */
    /* ye karna pada coz this interfeered with the nth child of type  */
}

body {
    background-color: #f1faee;
}

button {
    font-size: 25px;
    color: red;
    background-color: rgba(250, 211, 211, 0.66);
}

h1,
h2 {
    color: rgb(6, 26, 255);
}

button:hover {
    background-color: #B279A7 !important;
    /* The !important makes it so that this has higher priority and is not o
    overwritten by the #signup tag below this(placement of the diff containers does't metter) */
    color: white;
    /* See color of the text does not change on hovering */
}

.post button:active {
    color: red;
    font-weight: bold;
    background-color: Yellow !important;
    /* Used important here as otherwise the other important in hover would always overrule this */
}

#signup {
    color: black;
    background-color: aqua;

}


.tag {
    background-color: orange;

}


.post a {
    /*ie the anchor tags inside post class */
    color: red;
    text-decoration: none;
    font-weight: 700
        /* So that we can change the color as well as give underline on hover */
}

#search:placeholder-shown {
    background-color: yellow;
}

input[type="password"] {
    color: yellow;
}



section [class="post"] {
    background-color: orange;
}

footer a {
    color: rgb(9, 183, 241);
}

.post a:hover {
    color: darkblue;
    text-decoration: underline;
}

.post:nth-of-type(3n) {
    background-color: rgba(171, 170, 170, 0.416);
}

h2::first-letter {
    font-size: 40px;
}

p::first-line {
    color: Red;
    font-size: 20px;
}

p::selection {
    background-color: #ffb703;
}

.Exciting::after {
    content: "<--End of Exciting";
    color: green;
    font-weight: bold;
    border-style: dotted;
}

.Exciting::before {
    content: "start of Exciting-->";
    color: green;
    font-weight: bold;
    border-style: dotted;
}